In [1]:
import pandas as pd
import scipy.stats as stats

In [2]:
df=pd.read_csv(r"D:\data science\case study4\Sales_add.csv")
df.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [3]:
df.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [4]:
df.columns

Index(['Month', 'Region', 'Manager', 'Sales_before_digital_add(in $)',
       'Sales_After_digital_add(in $)'],
      dtype='object')

# ● The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

Null Hypothesis:
H0: Mean Sales after stepping into digital marketing > Mean Sales before stepping into digital marketing.

Alternative Hypothesis:
H1: Mean Sales after stepping into digital marketing <= Mean Sales before stepping into digital marketing.

In [5]:
T_score,p_value=stats.ttest_ind(df['Sales_After_digital_add(in $)'],df['Sales_before_digital_add(in $)'],alternative='less')
print("p-value=",f"{p_value:.27f}")

p-value= 0.999999999999999888977697537

In [6]:
if p_value <0.05:
  print("the p-value < 0.05, we can reject the null hypothesis")
else:
  print("the p-value > 0.05, we accept the null hypothesis.")

the p-value > 0.05, we accept the null hypothesis.

So,there is an increase in sales after stepping into digital marketing.

# ● The company needs to check whether there is any dependency between the features “Region” and “Manager”.

Null Hypothesis:
H0 :There is no dependency between the features “Region” and “Manager”.

Alternative Hypothesis:
H1 :There is a dependency between the features “Region” and “Manager”.

In [7]:
crosstab = pd.crosstab(df.Region,df.Manager)
crosstab

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [8]:
stat,p,dof,expected=stats.chi2_contingency(crosstab)

In [9]:
if p < 0.05:
    print('There is dependency between the features “Region” and “Manager”.')
else:
    print('There is no dependency between the features “Region” and “Manager”.')

There is no dependency between the features “Region” and “Manager”.